



#selectDataZone {
    width: 501px;
    height: 28px;
    position: relative;
}
.pickD {
    position: absolute;
    background: #fff;
    top: 0;
    left: 0;
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 226px;
    color: #666;
    font-size: 13px;
    overflow: hidden;
    height: 15px;
    /* line-height: 14px; */
}
.pickD span {
    height: 17px;
    width: 213px;
    float: left;
    overflow: hidden;
}
.pickD .dartDown {
    position: absolute;
    right: 8px;
    top: 7px;
    width: 10px;
    height: 10px;
}
#scenarioHandlerLink{
left: auto;
right: 0;
}
#pickAvatar {
    background-image: url('/img/ico/blu_d16.png');
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: 229px 7px;
}
#pickAvatarList {
position: absolute;
    width: 246px;
    height: 370px;
    background: #fff;
    top: 26px;
    z-index: 2;
    border: 1px solid #ccc;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
}
#pickAvatarList .avtrI {
    height: 55px;
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
    color: #666;
    font-size: 13px;
}
#pickAvatarList .avtrINOAVTR {
    height: 41px;
    /* border-bottom: 1px solid #ccc; */
    padding: 5px 10px;
    cursor: pointer;
    color: #666;
    font-size: 13px;
}
#pickAvatarList .avtrI:hover,
#pickAvatarList .avtrINOAVTR:hover,
#pickAvatarList .avtrI:hover .avtrName,
#pickAvatarList .avtrINOAVTR:hover .avtrNameNOAVTR
{
background-color: #386985;
color:#fff;
}
.avtrSelected{
background-color: #386916;
}
.avtrSelected .avtrName, .avtrSelected .avtrNameNOAVTR{color:#fff!important}

.avtrImg {
    width: 52px;
height: 60px;
    /*border: 1px solid #ccc;
     background-color: red; */
    float: left;
    background-image: url('/data/avatar_prev/1/1_10Kx1098_wait.png');
    background-size: 1155px;
    background-repeat: no-repeat;
    background-position: 3px 3px;
    /* border-radius: 50px; */
}

.avtrName {
    float: left;
    width: 138px;
    margin: 19px 0 0 14px;
    height: 37px;
    font-size: 16px;
    overflow: hidden;
    color: #666;
}
.avtrNameNOAVTR {
    float: left;
    width: 138px;
    margin: 14px 0 0 14px;
    height: 28px;
    font-size: 16px;
    overflow: hidden;
    color: #666;
}
/******************/
#mask{
display:block}
.int {
    color: #666666;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0 15px;
    padding: 0 10px;
    position: relative;
}
#debriefSimLilnk{
	display:none;
}

.int .usr, .int .bot {
    color: #cccccc;
    font-size: 11px;
    left: 23px;
    position: absolute;
    top: 23px;
}
.int .bot {
    left: 293px;
}
.cont {
    display: inline-block;
    margin: 0 0 0 20px;
    position: relative;
}
.QAshow {
    border: 1px solid #b0b0b0;
    float: left;
    font-size: 13px;
    height: 20px;
    margin: 0 10px 0 0;
    padding: 3px 7px 1px 7px;
    width: 243px;overflow: hidden;
	cursor:pointer;position:relative

} .QAshow:hover{border: 1px solid #386916;} 
.QAshow > span {
    float: left;
    font-size: 12px;
    height: 15px;
    margin: 2px 0 0;
    overflow: hidden;
	text-align:left;
}
/*.QAshowT {
    background-color: #e1e1e1;
    border-color: rgba(0, 0, 0, 0) #ffffff rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 0 16px 16px 0;
    bottom: 0;
    height: 0;
    left: 0;
    line-height: 0;
    position: absolute;
    width: 0;
}*/

.QAshowT {
    background-color: #cdcdcd;
    bottom: 1px;
    color: #999999;
    font-size: 11px;
    height: 18px;
    padding: 2px 4px;
    position: absolute;
    right: 1px;
    text-align: center;
    width: 20px;
}
.QAshow:hover .QAshowT,  
.QAshowT:hover{background-color:#386916; color:#fff}
.nstSlider, .leftLabel {float:left}

.nstSlider {
    background: #fff none repeat scroll 0 0;
    border-radius: 0;
    cursor: pointer;
    height: 20px;
    position: relative;
    width: 200px;
	margin: 3px 5px 0 0;
	
}
.nstSlider .leftGrip, .nstSlider .rightGrip {/*113344*/
    background: #386916 none repeat scroll 0 0;
    border-radius: 5px;
    color: #ffffff;
    font-size: 12px;
    height: 17px;
    padding: 2px 0 0;
    position: absolute;
    text-align: center;
    width: 34px;z-index: 1;
}
.nstSlider .bar {
    border-radius: 0;
    height: 2px;
    position: absolute;
    top: 10px;
    z-index: 1;
}


.nstSlider .guide {
    border-top: 1px solid #e2e2e2;
    height: 0;
    position: absolute;
    top: 11px;
    width: 100%;
    z-index: 0;
}

.min,.max {
    border: 1px solid #cccccc;
    float: left;
    margin:0 0 0 8px;
    padding: 1px 20px;
    text-align: center;display:none
}
.min{
	border: 1px solid red;
	color:red
}
.max{
	border: 1px solid green;
	color:green
}


.vmax::after {
    content: "";
    
    position: absolute;
    right: -17px;
    top: 4px;
    /*width: 15px;height: 13px;*/
	
border-style: solid;
border-width: 0 8px 13.9px 8px;
border-color: transparent transparent #fe9e0f transparent;
line-height: 0px;
}
.vmin::after {
    content: "";
    
    position: absolute;
    right: -17px;
    top: 4px;
width: 0;
height: 0;
border-style: solid;
border-width: 13.9px 8px 0 8px;
border-color: #008000 transparent transparent transparent;
line-height: 0px;
_border-color: #008000 #000000 #000000 #000000;
_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

#rangeGraph {
    height: 90px;
    margin: 42px 0 15px;
    position: relative;
    width: 800px;display: none;
}



#zero {
    border-left: 1px solid #000000;
    height: 62px;
    left: 400px;
    position: absolute;
    top: -25px;
    width: 5px;
    z-index: 1;
}
#zero0 {
    left: 396px;
    position: absolute;
    top: -42px;
}

#areaTOP {
    background: #ffff00 none repeat scroll 0 0;
    border-left: 1px solid #000000;
    border-radius: 50%;
    height: 64px;
    left: 368px;
    opacity: 0.5;
    position: absolute;
    top: -15px;
    width: 64px;
    z-index: 2;
}

#rangeLine {
    background: #bdbdbd none repeat scroll 0 0;
    height: 1px;
    position: absolute;
    top: 12px;
    width: 100%;
}

#positive {
    background-color: #dc3912;
    height: 15px;
    left: 401px;
    position: absolute;
    width: 200px;
    z-index: 1;
	top:5px
}
#negative {
    background-color: #fe9e0f;
    height: 15px;
    position: absolute;
    right: 400px;
    width: 200px;
    z-index: 1;	top:5px
}
#negativeLab, #positiveLab {
    background-color: #ffffff;
    font-size: 12px;
    left: -18px;
    min-width: 20px;
    position: absolute;
    text-align: center;
    top: -20px;
}
#positiveLab {
    left: auto;
    right: -9px;
    z-index: 1;
}

#singleditC{display:none;position:relative}


#singledit,#singleditMask {
    background-color: #fff;
    border: 1px solid #b0b0b0;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    clear: left;
    display: inline;
    float: left;
    height: 316px;
    margin: -2px 0 14px 35px;
    padding: 6px 15px;
    position: absolute;
    width: 800px;
    z-index: 3;
}

#singleditMask {
    background-color: #fff;
    border: 1px solid #dddddd;
    box-shadow:none;
	display:none;
	z-index: 4;
}

#singledit .pointer_up {
    left: 190px;
    top: -16px;
}
.bot .pointer_up {
    left: 447px !important;
}
#singledit .close {
    color: #999999;
    cursor: pointer;
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 7px;

} #singledit .close:hover{color:#386916}




#singleditCC {
    height: 250px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 810px;
}

#singledit textarea {
    border: 1px solid #cccccc;
    color: #333333;
    font-size: 12px;
    height: 40px;
    padding: 5px 8px;
    width: 360px;
}

#parallelCont {
    float: right;
    height: 250px;
    margin: 31px 0 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 0 1px;
    position: relative;
    width: 400px;
}
#titlepar, #titlemood {
    color: #666666;
    font-size: 15px;
    font-weight: bold;
    height: 21px;
    left: 416px;
    position: absolute;
    top: 12px;
    width: 300px;
}
#titlemood {
    left: 17px;
}
#seditsave, .cmtsave {
    background-color: #386916;
    border-radius: 3px;
    bottom: 7px;
    color: #ffffff;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    padding: 3px 16px;
    position: absolute;
    right: 36px;
    text-transform: uppercase;
}

#singleditC .spin64 {
    left: 431px;
    position: absolute;
    top: 100px;
    z-index: 5;
}


#MoodContainer {
    left: auto;
    position: absolute;
    top: 35px;
    width: 396px;
}

.emoinfo {
    border-radius: 3px;
    color: #909090;
    cursor: pointer;
    float: left;
    font-size: 11px;
    height: 105px;
    margin: 7px -1px 0;
    overflow: hidden;
    text-align: center;
    width: 79px;
}

#MoodContainer span img {
    border: 4px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    float: left;
    margin: 0;
    width: 69px;
}
#MoodContainer span img:hover,
#MoodContainer span .on{
border: 4px solid #5d90da;
} 


#MoodContainer span .selected{
border-color:#386916
}

#emoDesc {
    color: #444444;
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0 0;
    text-align: center;
    width: 100%;
}
#emoDesc span{display:none}
#emoDesc .selected{display:block}


#avatar_sentence{
position: relative
}
input[type="text"], textarea {
    width: 483px;
}
.audioline {
	/* float: right; */
	margin-top: 0;
	height: 30px;
	margin-right: 10px;
	width: 482px;
	position: relative;
	overflow: hidden;
	font-size: 14px;
	text-align: right;
	background: #EFEFEF;
	padding: 8px 10px;
}
#imgAudio {
	float: left;
	margin: 5px 4px 0 6px;
}
#audioControls{display:none}

.audioPlay, .audioPause, .audioDelete {
	cursor: pointer;
	float: left;
	margin: 6px 3px 0 8px;
	/* display: none; */
}
.audioPause {
	display: none;
	margin-left: 5px;
	margin-right: 6px;
}
.audioDelete {margin-top: 5px;}
#audioCmd {
	/* background: red; */
	width: 200px;
	float: right;
	margin: 4px 0 0 0;
}

#generateGroup {
	margin: 0 0 0 7px;
	float: left;display:none;
}

#generateGo {
	background: #386916;
	color: #fff;
	padding: 4px 10px;
	float: left;
	margin: 0px 0 0 5px;
	border-radius: 5px;
}

#audioCmd span{
	margin:0 5px 0 0;}
	
.audioline .loading {
	position: absolute;
	background-color: #fff;
	width: 100%;
	top: 0;
	left: 0px;
	height: 21px;
	background-position: 11px 14px;
	 display: none; 
	padding: 13px 0;
}

.fileUpload {
    cursor: pointer;
    float: right;
    height: 16px;
    margin: 3px 5px 0 0;
    width: 18px;
}
input.audioLoad {
    position: absolute;
    top: -50px;
    right: 0;
    margin: 0;
    padding: 0;
}



.winning {
	float: left;
	width: 18px;
	height: 18px;
	margin: 4px 0 0 7px;
	background: rgba(0, 0, 0, 0) url("/img/ico/starOff18.png?c") no-repeat scroll center center;
	cursor:pointer
}
.winningOn{
	background: rgba(0, 0, 0, 0) url("/img/ico/starOn18.png?c") no-repeat scroll center center!important;
}
.winning:hover{
	background: rgba(0, 0, 0, 0) url("/img/ico/starOver18.png?c") no-repeat scroll center center;
}
.cmt, .cmton {
	cursor: pointer;
	float: left;
	height: 16px;
	width: 14px;
}
.cmt {background: rgba(0, 0, 0, 0) url("/img/ico/comment_off.png?c") no-repeat scroll center center;}
.cmt:hover {background: rgba(0, 0, 0, 0) url("/img/ico/comment_offd.png") no-repeat scroll center center;}
.cmton, .cmton:hover {background: rgba(0, 0, 0, 0) url("/img/ico/comment_on.png") no-repeat scroll center center;}

.cmtareac {
	display: none;
	background-color: #ffffff;
	border: 1px solid #b0b0b0;
	height: 150px;
	position: absolute;
	left: 6px;
	bottom: -193px;
	width: 500px;
	z-index: 2;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

.cmtareac .pointer_up {
	left: 18px;
	top: -18px;
}
.cmtareac textarea {
    border: 0 none;
    height: 100px;
    padding: 10px;
    width: 477px;
    color: #333333;
    font-size: 12px;resize:none
}

.cmtsave {
    font-size: 12px;
    right: 9px;
}

.cmtareac .faketxt {
    color: #cccccc;
    font-size: 12px;
    left: 10px;
    position: absolute;
    top: 11px;
}

.cont .spin16 {
    float: left;
    margin: 6px 0 0 10px;
}


#report {
    color: #666666;
    font-size: 18px;
    font-weight: bold;
    margin: 28px 0 0 7px;
}
#report > span {
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 0 4px;
}
.spaceBig {
    height: 600px;
    width: 600px;
}
.repalert {
    color: #df0000;
}
/*
.hidden{display:none}
*/

/** see  maxHalfPix*2 in js **/
#finalSliderR {
    margin-left: 40px;
}

#finalSliderL {
    margin-left: -8px !important;
}

#finalSliderR,#finalSliderL {
   /* border: 1px solid!important;*/
}
#LfinalSlider, #RfinalSlider {
    top: -21px;
}

#finalSliderR .bar, #finalSliderL .bar {
/* background-color: transparent !important;*/
    height: 66px;
    top: 17px;
}


#finalSliderR .bar .line,#finalSliderL .bar .line {
    background-color: #000000;
    height: 88px;
    overflow:hidden;
    position: absolute;
    bottom: 0;
    width: 1px;
}

#finalSliderL .bar .line {right: 14px;}
#finalSliderR .bar .line {left: 14px;}


#finalSliderR .bar  .cover,#finalSliderL .bar  .cover  {
    
    bottom: 0;
    height: 65px;
    position: absolute;
    width: 14px;
}
#finalSliderR .bar  .cover {left: 0;background-color: #fe9e0f;}
#finalSliderL .bar  .cover {right: 0;background-color: #dc3912;}


#negativeArea {
    background-color: #fe9e0f;
    height: 65px;
    position: absolute;
    right: 400px;
    top: 21px;
    width: 133px;
    z-index: 1;
}

#positiveArea {
    background-color: #dc3912;
    height: 65px;
    position: absolute;
    left: 401px;
    top: 21px;
    width: 133px;
    z-index: 1;
}

#lineC {
    background-color: #ffffff;
    border-left: 1px dashed #999999;
    height: 65px;
    left: 397px;
    position: absolute;
    top: 85px;
    width: 9px;
}


#lineL {
    background-color: #ffffff;
    border-top: 1px dashed #999999;
    height: 187px;
    left: 40px;
    position: absolute;
    top: 36px;
    width: 340px;
    border-left: 1px dashed #999;
}

#lineR {
    background-color: #ffffff;
    border-top: 1px dashed #999999;
    height: 187px;
    right: 40px;
    position: absolute;
    top: 36px;
    width: 340px;
    border-right: 1px dashed #999;
}

#positiveForm {
    color: #666666;
    float: left;
    margin: 47px 0 0;
    text-align: center;
    width: 800px;
	position:relative
}
#positiveForm .title {
    color: #666666;
    font-size: 18px;
    font-weight: bold;
    left: 6px;
    position: absolute;
    text-align: left;
    top: -27px;
}
#negativeForm {
    color: #666666;
    float: left;
    margin: 25px 0 20px;
    width: 800px;
}

.positiveFormInL, .positiveFormInR {
    float: left;
    margin: 0 0 0 31px;
	position:relative;
}

.positiveFormInR {
    float: right;
    margin: 0 23px 0 0;
    text-align: right;
}



.positiveend {
    float: left;
    margin: 6px 0 0 272px;
}
.negativeendL {
    margin: 5px 0 0;
}
.negativeendR {
    margin: 5px 0 0;
}


.cmtareac_leftnegative {
    right: -222px;
    top: 56px;
}



.cmtareac_rightnegative {
    top: 56px;
}

.cmtareac_positiveend {
    right: 212px;
    top: 56px;
}

#positiveForm #singleditC {
    left: -11px;
    position: absolute;
    top: 50px;
}
#positiveForm #singledit .pointer_up {
    left: 452px;
}

.positiveFormInR #singleditC {
    left: -525px;
    position: absolute;
    top: 54px;
}

.positiveFormInL #singleditC {
    left: -68px;
    position: absolute;
    top: 54px;
}

.positiveFormInR #singleditC .pointer_up {
    left: 691px !important;
}
.positiveFormInL  #singleditC  .pointer_up {
    left: 236px !important;
}

#rangeGraph .spin16 {
    left: 392px;
    position: absolute;
    top: -42px;
    z-index: 2;
}


#lineL > img {
    bottom: 0;
    left: -7px;
    position: absolute;
}

#lineC > img {
    bottom: 0;
    left: -6px;
    position: absolute;
}

#lineR > img {
    bottom: 0;
    position: absolute;
    right: -7px;
}


.gradientGreyWhite{
background: #fff!important;
background: -moz-linear-gradient(top, #ffffff 24%, #efefef 85%)!important;
background: -webkit-linear-gradient(top, #ffffff 24%,#efefef 85%)!important;
background: linear-gradient(to bottom, #ffffff 24%,#efefef 85%)!important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 )!important;
}
/***********/
/*
.qcomment {
    margin: 0 0 0 35px;
}
.qcomment .leftcomment {
    float: left;
}
.qcomment .leftcomment input[type="text"] {
    border: 1px solid #cccccc;
    margin: 0 5px 0 7px;
    padding: 1px 5px;
    width: 60px;
}
.qcomment textarea {
    border: 1px solid #cccccc;
    margin: 0 5px 0 13px;
    padding: 1px 5px;
    width: 494px;
}
.qcomment .command {
    font-size: 11px;
    padding: 3px 7px 6px 0;
    text-align: right;
}
.qcomment .command a{margin:0 0 0 5px}
.qcomment .command a:hover{text-decoration:underline}
*/



#rangeGraph200 {
    background-color: #fe9e0f;
    float: left;
    height: 50px;
    margin: 12px 417px 66px 35px;
    position: relative;
    width: 800px;
}
#sorange {
    background-color: #dc3912;
    height: 50px;
    left: 400px;
    position: absolute;
    top: 0;
    width: 400px;
}
#rgl0 {
    background-color: #666666;
    bottom: -7px;
    height: 68px;
    left: 400px;
    position: absolute;
    width: 1px;
    z-index: 1;
} #rgl0 span {
    left: -3px;
    position: absolute;
    top: -16px;font-size: 11px;
}

#rg1 span,#rg2 span {
    left: -10px;
    position: absolute;
    top: -26px;font-size: 10px;
} #rg2 span{left: auto;right:-10px}

#rgl100p,#rgl100m{
    left: -10px;
    position: absolute;
    top: -16px;font-size: 10px;
}
#rgl100m{right: -10px;left:auto}

#rg1,#rg2{
	position: absolute;
	width:49px;
	height:49px;
	top:1px
}
#rg1{right: 400px;}
#rg2{left: 400px;}



.ppp {
    /*border-right: 1px dashed #000;
    border-left: 1px dashed #000;*/
    height: 49px;
    position: absolute;
    text-align: center;
    top: 1px;
}
.ppp span {
    color: #ffffff;
    float: left;
    margin: 16px auto 0;
    width: 100%;font-size: 10px;
}
.pppC span {color: #000;}

#p1,#p7{border-right: 1px dotted #fff;}
#p3,#p5{border-right: 1px dotted #000;}

#p4{right:400px}
#p5{left:400px}

#p8{right:0}


.ppp .cmt {
    bottom: -24px;
    margin: 0;
    position: absolute;
    width: 100%;
}

.ppp .cmtareac {
    left: 3px;
    right: auto;
    top: 84px;
}
.ppp .cmtareac .pointer_up {
    left: 5px;
    right: auto;
    top: -18px;
}

.ppp .cmt {
    bottom: -21px;
    margin: 0 0 0 9px;
    position: absolute;
    width: 20px;
}


.cmtareac_leftnegative .pointer_up {
    left: 261px;
}


#centrend {
	color: #777777;
	float: left;
	font-size: 12px;
	padding: 10px 5px;
	width: 287px;
	margin: 10px 0 0 10px;
}

#okmsg {
	background-color: #386916;
	border-radius: 3px;
	color: #ffffff;
	cursor: pointer;
	display: none;
	float: left;
	font-size: 15px;
	font-weight: bold;
	margin: 0 4px 0 0;
	padding: 12px 14px;
	text-align: center;
	width: 100%;
}
#okmsg:hover{margin-top: -1px;}
#okmsg:active{margin-top: 1px}

#okmsg > span {
    float: left;
    font-size: 12px;
    font-weight: normal;
    margin: 2px 0 0;
    width: 100%;
}


#missingmsg {
    display: inline-block;
    text-align: center;
    width: 100%;
}
#missingmsg a {
    font-size: 18px;
    font-weight: bold;
} #missingmsg a:hover{text-decoration:underline}

#missingList > strong {
    font-size: 14px !important;
}

#missingList {
	display: none;
	background-color: #ffffcc;
	border: 1px solid #8c8c00;
	color: #555555;
	/* font-size: 12px; */
	/* height: auto; */
	padding: 9px 13px;
	font-weight: normal;
	border-radius: 5px;
	float: left;
	font-size: 15px;
	/* min-width: 175px; */
	text-align: center;
	width: 253px;
	height: 41px;
}

.cont .int {
    float: left;
    margin: 0 20px 0 0;
    text-align: right;
    width: 516px;
}

.cont_bie {
    margin: 9px 0 -27px;
}
.cont_bie .spin16 {
    margin: 7px 0 0 16px;
}

/*
#missingmsg {
    display: inline-block;
    left: 0;
    position: fixed;
    text-align: center;
    top: 70px;
    width: auto;
}*/

.missing_title {
    display: inline-block;
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 3px;
    width: 100%;
}

.missing_sub {
    color: #fe9e0f;
    display: inline-block;
    float: left;
    margin: 0 0 0 8px;
    width: 100%;
}
.missing_txt {
    float: left;
    margin: 0 0 5px 8px;
}

#playerSimLilnk{
	margin:10px 31px 0 34px;
	display:none;
}

/*new*/

#player {
	position: absolute;
	bottom: -58px;
}



#upContainerL {
	/*width: 21%; min-width: 130px;*/
	width: 654px;
	padding: 10px 0 0 0;
	float: left;
	height: 600px;
	overflow-x: hidden;
	overflow-y: auto;
	direction: rtl;
	position: relative;
	
	min-height: 630px;
}
/*
.contFork 
.upContainerBox {
    width: 88px;
    margin-right: 10px;
}
*/
.upContainerBox {
    width: 110px;
    margin: 10px 15px;
    direction: ltr;
    float: left;
    cursor: pointer;
    position: relative;
	border-radius: 10px;
	border: 5px solid #AAA;
}

.winningStep, .loosingStep{
	width: 200px;
}

.upContainerBoxImg {
	/*width: 100%;*/
	height: 62px; width: auto;
	float: left;
	border-radius: 5px;	
}

.stepSceneHalf .upContainerBoxImg {
	width: 100%;
	height: auto;
	float: left;
	border-radius: 5px;	
}
.boxScenarioREMOVED {
	/* border: 5px solid #ccc; */
}

.sceneNowEditing{
	border-color: #386916!important;
}

.sceneNowEditing .upContainerBoxLegend
{
    background-color: #386916!important;
}


 .sceneNowEditing .upContainerBoxLegendExtend
,.sceneNowEditing .questionDot
{
    background-color: #386916!important;
}

.greenCable{border-color: #386916!important;}

.upContainerBoxLegend {
    background: #999;
    width: 32px;
    text-align: center;
    font-size: 11px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    height: 15px;
    border-radius: 7px 0px 7px 0;
    top: -3px;
    left: -2px;
    text-align: center;
    padding: 2px 0 0px 1px;
}

/*
.upContainerBoxLegend {
    background: #999;
    width: 47px;
    text-align: center;
    font-size: 11px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    height: 15px;
    border-radius: 5px;
    top: -3px;
    left: 33px;
    text-align: center;
    padding: 2px 0 0px 0;
}
/
.upContainerBoxLegend {
    background: #999;
    width: 47px;
    text-align: center;
    font-size: 11px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    height: 15px;
    border-radius: 5px;
    top: -3px;
    left: 33px;
    text-align: center;
    padding: 2px 0 0px 0;
}
.upContainerBox:hover 
.upContainerBoxLegend {
    background: #AAA;
    width: 102px;
    text-align: center;
    font-size: 11px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    height: 15px;
    border-radius: 7px 7px 0 0;
    top: -3px;
    left: -2px;
    text-align: left;
    padding: 2px 0 0px 10px;
}

*/
.upContainerBoxLegendExtend {
    background: #AAA;
    /* float: left; */
    width: 106px;
    text-align: center;
    /* height: 20px; */
    font-size: 11px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    height: 15px;
    border-radius: 7px 0px 7px 0;
    top: -3px;
    left: -1px;
    text-align: center;
    padding: 2px 0 0px 0;
}
#editingAdvice {
	/* height: 32px; */
	width: 100%;
	position: absolute;
	bottom: 37%;
	right: 0;
	display: none;
}
#editingAdvice span {
	background: #386916;
	color: #fff;
	display: inherit;
	margin: 0 -4px 0 100px;
	padding: 7px 0px 9px 0px;
	text-align: center;

	box-shadow: -2px -2px 5px #292929;
	font-size: 11px;
	border-radius: 5px 0px 0 5px;
}

.triangleEdit{
	
position: absolute;

top: -22px;

right: -13%;

z-index: 3;

border-width: 36px 0 36px 24px;

width: 0;
height: 0;
border-style: solid;

border-color: transparent transparent transparent #386916;
line-height: 0px;
_border-color: #000000 #000000 #000000 #386916;
_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');	
	
}
/*
.contFork 
*/


.triangleEdit {
	position: absolute;
	top: -9px;
	right: -18%;
	z-index: 3;
	border-width: 15px 0 15px 14px;
	width: 0;
	height: 0;
	border-style: solid;
}
#coverMask {
	width: 100%;
	height: 63px;
	overflow: hidden;
	margin: -11px 0 0px 0;
	position: relative;
}
#coverMask img {
	position: absolute;
	top: -54px;
	left: 0;
}
#upContainer {

	float: left;
	min-width: 1000px;margin: 3px 0 0 0;
	/*width:100%*/
}
#upContainerR {

    float: left;
    padding: 0 0 20px 20px;

    width: 523px;position: relative
}
/*#upContainerL,#upContainerR  {height: 1070px;}*/
.sceneHolder{
    /*border: 2px dashed #dedede;*/
    border-radius: 10px;
    height: 67px;
    text-align: center;
    vertical-align: bottom;
    float: left;
    width: 120px;
	    margin: 10px 15px;
	cursor: default;
	/*background: #FDFDDD;*/
	
}
.sceneHandler {
    height: 67px;
 	display: none;
    width: 120px;
    position: relative;
    float: left;
    margin: 10px 15px;

}
.sceneHandlerABS {
    position: absolute;
    right: -87px;
}
.stepScene:hover .sceneHandler{display: block}
.addScene, .deleteScene {
    /* position: absolute; */
    cursor: pointer;
    /* top: 17px; */
    /* left: 41px; */
    font-size: 29px;
    color: #AAA;
    border: 1px solid #AAA;
    border-radius: 10px;
    width: 46px;
    height: 28px;
    text-align: center;
    margin: 0px 0 10px 0;
}
.deleteScene {margin: 0;
}
.deleteScene span {
    margin: -4px 0 0px 0px;
    float: left;
    width: 100%;
}
.addScene span {
    margin: -1px 0 0px 0px;
    float: left;
    width: 100%;
}
.addScene:hover, .deleteScene:hover {
	border: 1px solid #386916;
	background: #386916;
	color:#fff;
}
/*
.addScene:hover {
   border: 2px dashed #666;
}
.addScene:hover  .addSceneIn {
   border: 1px solid #666;color: #666;
}
*/
#stepTit, #stepTitEnding {
    font-size: 26px;
    margin: 22px 0 17px 0;
    color: #777;
    font-weight: bold;
    float: left;

    height: 31px;
    width: 360px;
    overflow: hidden;
}
#stepTitEnding{display:none}

#avatar_id {
	margin: 0 0 0 40px;
}

#fakePlayer {
    margin: 5px 0 0 0;
    width: 502px;
    height: 283.25px;
    background: black;
    position: absolute;
    overflow: hidden;
    top: 98px;
    left: 20px;
}

#fakePlayerAVATARlimit {
    width: 599px;
    height: 573PX;
    /* background: black; */
    position: absolute;
    overflow: hidden;
    top: -31px;
    left: -37px;
    border: 1px solid black;
}
#fakePlayerSPACING{
	margin: 5px 0 0 0;
	width: 502px;
	height: 283.25px;
	background: black;
	position: relative;
	overflow: hidden;
}
#fakePlayer #balloon {
	width: auto;
	height: auto;
	background-color: #fff;
	position: absolute;
	top: 18px;
	z-index: 1;
	left: 5px;
	border-radius: 10px;
	text-align: center;
	padding: 8px 15px 10px 15px;
	/* box-shadow: 0px 2px 6px #b4b4b4; */
	font-size: 11px;
	cursor: move;
	border: 1px solid #222;
	max-width: 300px;
	min-height: 32px;
	min-width: 60px;
	color: #222;
	word-break: break-all;
	
opacity: 0.90;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
filter: alpha(opacity=90);
-moz-opacity: 0.90;
-khtml-opacity: 0.90;	
	
}

#leftArrow {
	position: absolute;
	top: 10px;
	right: -17px;display:none
}
#rightArrow {
	position: absolute;
	top: 10px;
	left: -17px;display:none;
}

#fakePlayer .sceneimg {
	border: 1px solid #ccc;
	width: 500px;
	position: absolute;
	top: 0;
	right: 0;
	height: 281.25px;
}
#fakePlayer .sceneavatar {
	height: 260px;
	z-index: 1;
	position: absolute;
	top: 11px;
	right: 10px;
}


#fakePlayer .sceneavatarPrimo {
	height: auto;
	    width: 260px;
	top: 0px;
	right: 10px;
}



#avatarDims {
	width: 276px;
	margin: 5px 0 0 234px;
    position: relative
}
#avatarDims span {
	color: #666;
	margin: 0 10px 0 0;
}
#avatarDims a {
    margin: 0 0 0 0px;
    padding: 1px 10px;
    border-radius: 3px;
}

#avatarDims a:hover{
text-decoration:underline
}
#avatarDims .don {
    background: #ccc;
    color: #333;
    cursor: auto;
}
 #avatarDims .don:hover {text-decoration:none!important}

#avatarSprite{
	cursor:move;
	left:264px;top:3px
}

.hiddenLeft{
	display: none
}
/* 
LEFT 277TOP 16
https://blog.teamtreehouse.com/css-sprite-sheet-animations-steps
*/


.subtitle {
	margin: 20px 0 10px 0px;
	color: #666;
	font-size: 16px;
	font-weight: bold;
	position: relative;
	width: 502px;
}

.subtitlePar {
	margin: 20px 0 10px 0px;
	color: #666;
	font-size: 21px;
	font-weight: bold;
	position: relative;
	width: 502px;
}

.subtitle .advice {
	display:none;
	background-color: #ffffcc;
	border: 1px solid #8c8c00;
	color: #555555;
	font-size: 12px;
	height: auto;
	overflow: hidden;
	padding: 2px 17px;
	position: absolute;
	top: 34px;
	left: 21px;
	font-weight: normal;
	border-radius: 5px;
}
.subtitle .subtitleR {
	float: right;
	margin: 0 5px 0 0;
	/* background: red; */
	width: 65px;
	text-align: right;
	text-align: center;
	font-size: 13px;
}
.subtitle .subtitleR1 {
	float: right;
	margin: 0 0px 0 0;
	/* background: green; */
	width: 84px;
	text-align: right;
	text-align: center;
	font-size: 13px;
}


.textarea_answ {
	width: 410px;float:left;
    display:none;
}
.textarea_answTight{
	width: 318px
}


.fbArea{
display: none;position: relative;
}

.title_fb {
    float: left;
    margin: 10px 2px 2px 105px;
    /* background: red; */
    text-align: right;
    color: #666;
    font-size: 12px;
    /* font-weight: bold; */
}
.textarea_fb {
    width: 376px;
    float: right;
    margin: 2px 25px 24px 70px;
}
.textarea_fbAudio{display: none} 
.ascore {
	background: #fff url("/img/ico/blu_d16.png") no-repeat scroll 43px 8px / 10px 10px;
	width: 60px;
	float: left;
	height: 45px;
	margin: 0px 0 0 10px;
	font-size: 23px;
	color: #666;
	text-align: center;
}

.goto {
	background: #fff url("/img/ico/blu_d16.png") no-repeat scroll 65px 8px / 10px 10px;
	width: 83px;
	float: left;
	height: 45px;
	margin: 0px 0 0 10px;
	font-size: 19px;
	color: #666;
	text-align: center;

}

.linePathM {
	position: absolute;
	width: 1px;
	height: 44px;
	/* background: #FFF; */
	top: 54px;
	left: 48%;
	/* color: #CCC; */
	border-left: 1px dashed #CCC;
	z-index: 0;
}
#ascore_v_4{
	display:none;
}

.addAnswer, .removeAnswer {
    display: inherit;
    font-size: 11px;
    margin: 4px 16px 7px 0;
    text-align: right;
    width: 132px;
    float: right;
}
.removeFeedback {
    width: 12px;
    height: auto;
    position: absolute;
    right: 31px;
    top: 11px;cursor: pointer
}
.addFeedback {
    display: inherit;
    font-size: 11px;
    margin: 3px 25px 9px 0;
    text-align: right;
    width: 152px;
    float: right;
}


#attachmentLine{
	margin-top: 0;
	width: 492px;
	position: relative;
 overflow: hidden;
	font-size: 14px;
	padding: 0 5px;
	float: left;
	font-size: 13px;
}
#attachmentInput {
	position: absolute;
	bottom: -79px;
}
#attachmentLine .attLnk,#compulsoryAttachmentsChange {
	background: #386916;
	color: #fff;
	padding: 4px 10px;
	float: left;
	margin: 0px 0 0 5px;
	border-radius: 5px;
	margin:2px 0 0 0;
}
#compulsoryAttachmentsChange {
	margin-top: 3px;
}
#attachmentLine .or {
	float: left;
	margin: 4px 8px 0 7px;
	font-size: 14px;
}

#url {
	width: 300px;
	float: left;
	margin: 0 5px 0 0;
}


#attachments {
	margin: 6px 0 0 0;
	width: 483px;
	position: relative;
	background: #EFEFEF;
	padding: 6px 8px;
	float: left;
	font-size: 13px;
	border-radius: 5px;
}
.attachments_L{display:none}
.attTitle {
	width: 390px !important;
	float: left;
	margin: 2px 0 0 0;
	border: 1px solid #EFEFEF !important;
	background-color: #EFEFEF;
}
.attTitle:hover{	border: 1px solid #cccccc!important;background-color:#FFF}

.attachments_L:hover .attTitle{	border: 1px solid #cccccc!important;background-color:#FFF}
.attImg {
	float: left;
	margin: 0 5px 4px 0px;
}

.attDelete {
	margin: 9px 0 0 7px;float: left;
	cursor: pointer;
	display:none;
}

.attachments_L:hover .attDelete{display:block}



#compulsoryAttachmentsBox {
	display:none;
	margin: 6px 0 0 0;
	width: 475px;
	position: relative;
	/* background: #EFEFEF; */
	padding: 9px 12px 7px 12px;
	float: left;
	font-size: 13px;
	border-radius: 5px;
	border: 1px solid #868686;
	/* float: left; */
}
#compulsoryAttachmentsMsg {
	float: left;
	width: 60%;
	color: #3F3F3F;
	font-size: 12px;
}
#compulsoryAttachmentsChange {
	cursor:pointer;
    float: right;

}


.downContainer {
	/* float: left; */
	/* width: 100%; */
	border-top: 1px solid #ccc;
	min-height: 126px;
	padding: 0;
}
.downContainerIN {
	padding: 0 26px;
}

#downContainerStatus .downContainerIN {
	padding: 0 26px 0 56px;
}
/*****************************/

#fgraph {
	width: 600px;
	height: 330px;
	background: #fff;
	position: relative;
	font-size: 12px;
	margin-top: 20px;
	display: none;
}
#loosing {
	width: 300px;
	height: 150px;
	background: #dc3912;
	float:left;
	position:relative;
	
background: -moz-linear-gradient(top, rgba(220,57,18,0) 0%, rgba(220,57,18,0.5) 50%, rgba(220,57,18,0.57) 57%, rgba(220,57,18,1) 100%);
background: -webkit-linear-gradient(top, rgba(220,57,18,0) 0%,rgba(220,57,18,0.5) 50%,rgba(220,57,18,0.57) 57%,rgba(220,57,18,1) 100%);
background: linear-gradient(to bottom, rgba(220,57,18,0) 0%,rgba(220,57,18,0.5) 50%,rgba(220,57,18,0.57) 57%,rgba(220,57,18,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00dc3912', endColorstr='#dc3912',GradientType=0 );	
	
	
}#winning {
	width: 300px;
	height: 150px;
	background: #008000;
	float:right;
	position:relative;
background: -moz-linear-gradient(top, rgba(0,128,0,0) 0%, rgba(0,128,0,0.5) 50%, rgba(0,128,0,0.57) 57%, rgba(0,128,0,1) 100%);
background: -webkit-linear-gradient(top, rgba(0,128,0,0) 0%,rgba(0,128,0,0.5) 50%,rgba(0,128,0,0.57) 57%,rgba(0,128,0,1) 100%);
background: linear-gradient(to bottom, rgba(0,128,0,0) 0%,rgba(0,128,0,0.5) 50%,rgba(0,128,0,0.57) 57%,rgba(0,128,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00008000', endColorstr='#008000',GradientType=0 );	
	
	
}
#loosing,#winning{
	margin-top:50px;
}

.lwArea {
	position: absolute;
	font-size: 11px;
	color: #999;
	top: 10px;
}
#winning .lwArea{
	left:5px;
}
#loosing .lwArea{
	right:5px;
}
#boxScenarioWin, #boxScenarioLose {
	border: none;
	width: 180px;
	position: absolute;
	cursor: pointer;
	margin: 32px 0 0 55px;
	border-radius: 10px;
	
}
.isScenario{
border:1px solid #555!important ;

}

.gSeparator {
	position: absolute;
	width: 2px;
	height: 255px;
	border-left: 1px dashed #626262;
	top:35px
}


.gLegend{
	position:absolute;
}
.subGlegend {
	font-size: 11px;
	color: #666;
}


#gSeparator50 {
	left: 300px;

}
#gLegend50 {
	left: 250px;
	width: 100px;
	text-align: center;
}


#gSeparator0 {
	left: 0px;

}
#gLegend0 {
	left: 0px;
	width: 100px;
	text-align: left;
}

#gSeparator100 {
	right: -1px;
}
#gLegend100 {
	right: 0px;
	width: 100px;
	text-align: right;
}

.boxQuarterL {
	width: 75px;
	height: 40px;
	background: red;
	float: left;
	margin-top:3px; text-align:center;
	border-radius: 0 0 8px 0;;position:relative;color: #fff;
	padding-top: 10px;font-size:12px;cursor:pointer
}

.boxQuarterW {
	width: 75px;height: 40px;cursor:pointer;
	background: green;
	float: left;
	margin-top:3px; text-align:center;
	border-radius: 0 0 0 8px;position:relative;color: #fff;
	padding-top: 10px;font-size:12px;
}
#L1{background-color:#dc3912;height: 55px;}
#L2{background-color:#eb4821;height: 44px;}
#L3{background-color:#fb5831;height: 35px;}
#L4{background-color:#ff7a53;height: 25px;}

#W1{background-color:#27A727;height: 25px;}
#W2{background-color:#139313;height: 35px;}
#W3{background-color:#178A17;height: 45px;}
#W4{background-color:#008000;height: 55px;}
	
.boxQuarterL .cmt, .boxQuarterW .cmt {
	position: absolute;
	bottom: -24px;
	left: 28px;
}


#fgraphNotAvailable {
	font-size: 17px;
	color: #666;
	margin: 0 0 36px 0;

}


.editButt {
	margin: 20px 0px 10px 4px;
}

#title {
	display: none;
}

.stepScene {
    width: 100%;
    /* background: red; */
    
	margin: 0px 0 30px;
    /* margin: 0px auto 30px auto; display: flex; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* align-items: center; */
    direction: ltr;
    position: relative;
	height: 92px;
}

.stepSceneHalf {
    width: 50%;
    float: left;    direction: ltr;
    position: relative;
}

.questionDotContainer {
    /* background: red; */
    position: absolute;
    margin: 0px auto 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15px;
    bottom: -15px;
}
.questionDot {
    width: 20px;
    height: 7px;
    background: #AAA;
    float: left;
    margin: 0 3px;
    border-radius: 0px 0px 5px 5px;
}



.cableV {
    bottom: -40px;
    border-left: 2px solid #ccc;
    width: 8px;
    position: absolute;
    font-size: 8px;
	color:#ccc;text-align: right
}
/* +150*/
.L_A {left: 74px;
	height: 15px;}
.L_B {
    left: 224px;
    height: 20px;
}
.L_C {
    left: 374px;
    height: 25px;
}

.L_D {
    left: 524px;
    height: 30px;
}

.gotoGr{
	top: 73px;
	border-color: #CCC;	
}
.sceneNowEditing
.gotoGr{
	border-color: #386916;
	z-index: 1;
}

/* SCROLL BAR */

#upContainerL::-webkit-scrollbar {
    width: 5px;
}
 #upContainerL::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 #upContainerL::-webkit-scrollbar-thumb {
    background: #888;
}
 #upContainerL::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* cables */
.buttoActionBackground{background-color:  #386916!important; color:#fff!important}

.stepHandler {
    width: 100%;
    float: left;
    font-size: 16px;
    margin: 10px;
    direction: ltr;
}
.addStep, .deleteStep {
    float: left;
    height: 14px;
    padding: 7px 16px 9px 16px;
    color: #AAA;
    border: 1px solid #AAA;
    border-radius: 10px;
    text-align: left;
    margin: -22px 11px 6px 0;
    cursor: pointer;
}
.addStep:hover, .deleteStep:hover{
	background-color:  #386916; color:#fff
}


.select230 {
    background: #fff url("/img/ico/blu_d16.png") no-repeat scroll 210px 8px / 10px 10px;
    width: 230px;
    height: 24px;
}
/*
#scenarioHandlerLink {
    position: absolute;
    top: 70px;
    z-index: 1;
    left: 248px;
    height: 22px;
    overflow: hidden;
    border: 1px solid #ccc;
    width: 22px;
}
#scenarioHandlerLink img {
    position: absolute;
    top: 5px;
    left: 5px;
}
*/


.prevEditGroup {
    position: relative;
    width: 335px;
    float: left;
    display: none; /* debug */
}
.fx {
    background: transparent url("/img/fx16.png") no-repeat scroll 8px 3px / 13px 13px;
    width: 32px;
    float: left;
    height: 18px;
    background-color: #cddc39ad;
    position: absolute;
    cursor: pointer;
    top: 1px;
    right: 0px;
    border-radius: 3px;
    display: none;
}

.prevEditGroup:hover .fx{
    display: block
}
.answer_prev {
    width: 315px;
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 28px;
    float: left;
    cursor: text;
    overflow-y: auto;
}

#fx_avatar_sentence {
    display: block;
    top: 12px;
}
#answersC {
    margin: -5px 0 12px 1px;
    position: relative;
    width: 502px;
    float: left;
}
#answersC div {
    float: left;
    margin: 0px 10px 0 0;
    padding: 2px 5px;
    border-radius: 7px;
    font-size: 13px;
    cursor: pointer;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}
#answersC .active{
    cursor: default;
    background: #386916;
    color: white;
}

.prevEditGroupImg {
    width: 315px;
    min-height: 177px;
    border: 1px solid #AAA;
    padding: 10px;
    position: relative;
    float: left;
    border-style: dashed;
    text-align: center;
    margin: 0 0 72px 0;
}

.loadImage {
    font-size: 24px;
    color: #ccc;
    /* position: absolute; */
    /* top: 15px; */
    padding: 64px 0 84px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    /* background: red; */
    /* height: 203px; */
}
.changeImage {
    margin: 3px 25px 9px 0;
    color: #fff;
    cursor: pointer;
    position: absolute;
    bottom: -3px;
    left: 6px;
    background: #386916;
    text-align: center;
    width: 322px;
    padding: 6px 0;
    display: none;
    opacity: 0.85;
}
.prevEditGroupImg:hover .changeImage{display: block}
.prevEditGroupFirst:hover .changeImage{display: none}

.altImg:focus .changeImage{display: none}

.prevEditGroupImg img {
    /*position: absolute;
    top: 10px;
    left: 10px;*/
    max-width: 300px;
    max-height: 177px;
}

.altImg {
    position: absolute;
    bottom: -60px;
    left: -3px;

}


.altTxt {
    position: absolute;
    bottom: -30px;
    left: 0;
    font-size: 13px;
    color: #666;
}
#uploadInput {
    position: fixed;
    top: -100px;right: 0px
}

